# Set default behavior to automatically normalize line endings.
* text=auto

# Settings for GitHub Linguist
Web/assets/js/zepto.js linguist-vendored=true
Web/assets/scss/main.css linguist-generated=true
