@model DominikStiller.VertretungsplanServer.Models.User

@{
    ViewData["Title"] = "Vertretungsplan des GUS";
}

@section Scripts {
    <script>
            var page = "login";
    </script>
}

<header id="loginpage-header">
    <a href="http://www.gymnasium-unterrieden.de/"><img src="/images/logo_gus.png" id="guslogo" alt="Logo des Gymnasium Unterrieden Sindelfingen"></a>
</header>
<div class="running-text">
    <h1>Online-Vertretungsplan des GUS</h1>
    <p>Herzlich willkommen auf dem Online-Vertretungsplan des Gymnasium Unterrieden Sindelfingen.</p>
    <p>Bitte melden Sie sich an.</p>
    <br />
    <form action="/" method="post" id="loginform">
        @if (ViewData.ContainsKey("Error"))
        {
            <p id="login-error">Ungültige Anmeldedaten. Bitte überprüfen sie den Benutzernamen und das Passwort.</p>
        }
        <label asp-for="Username" id="username-label">Benutzer:</label><input asp-for="Username" required />
        <br />
        <label asp-for="Password" id="password-label">Passwort:</label><input asp-for="Password" required />
        <br />
        <span class="form-row">
            <input asp-for="RememberMe" id="rememberme" class="margin-left" /><label asp-for="RememberMe" id="rememberme-label">Angemeldet bleiben</label>
        </span>
        <br />
        <button type="submit" class="margin-left">Anmelden</button>
    </form>
</div>
