container_commands:
  1_ConfigureIISAppPool:
    command: powershell.exe -Command "Scripts\\ConfigureIISAppPool.ps1"
    ignoreErrors: true
    waitAfterCompletion: 0
  2_LoadWebCertFromS3:
    command: powershell.exe -Command "Scripts\\LoadWebCertFromS3.ps1"
    ignoreErrors: true
    waitAfterCompletion: 0
  3_InstallSSLCert:
    command: powershell.exe -Command "Scripts\\InstallSSLCert.ps1"
    ignoreErrors: true
    waitAfterCompletion: 0
  4_EnableHTTPtoHTTPSRedirection:
    command: powershell.exe -Command "Scripts\\EnableHTTPtoHTTPSRedirection.ps1"
    ignoreErrors: true
    waitAfterCompletion: 0
  