// main: ../main.scss
// min-width: 1100px

main {
   margin-top: 6em;
   margin-bottom: 1.5em;
}

#guslogo {
   width: 240px;
   top: -3em;
   right: 0;
}

#dateselector-container {
   #dateselector {
      font-size: 5em;
   }

   #nextdate,
   #previousdate {
      font-size: 7.4em;
   }
}

#metadata {
   max-width: 830px;
}

#data {
   th {
      padding: 8px 1rem;
   }

   td {
      padding: 6px 1rem;
   }
}

footer {
   margin-bottom: 4em;
}

.message {
   padding: 0;
}
