// main: ../main.scss
// min-width: 1300px

footer,
main {
   margin: 0 auto;
}

main {
   margin-top: 6em;
   margin-bottom: 1.5em;
}

#guslogo {
   width: 300px;
   top: -3em;
   right: 0;
}

#dateselector-container {
   #dateselector {
      font-size: 6em;
   }

   #nextdate,
   #previousdate {
      font-size: 8.7em;
   }
}

#metadata {
   max-width: 980px;
}

#data {
   td,
   th {
      padding: 10px 1.5rem;
   }

   th {
      padding-top: 18px;
      padding-bottom: 18px;
   }
}

footer {
   margin-bottom: 4em;
}

.message {
   padding: 0;
}
