// main: ../main.scss
// min-width: 800px

footer,
main {
   padding: 0 2em;
}

main {
   margin-top: 2em;
   margin-bottom: 1.5em;
}

header {
   margin-bottom: 1.5em;
   // #guslogo should never be overlapping #data
   min-height: 245px;
}

#dateselector-container {
   margin-bottom: 2em;
   padding-bottom: 0;
   border-bottom: 0;

   #dateselector {
      font-size: 4em;
      font-weight: normal;
      background: transparent;
      padding: 0;
   }

   #nextdate,
   #previousdate {
      font-size: 5.8em;
      display: inline;
   }
}

#guslogo {
   display: block;
   width: 220px;
   top: 0;
   right: 2em;
}

#metadata {
   // Metadata text should never be overlapping #guslogo
   // Total width - (#guslogo width + #guslogo right)
   max-width: calc(100% - (250px + 2em));
}

#data {
   th {
      padding: 8px .8rem;
      font-size: 1.2em;
   }

   td {
      padding: 6px .8rem;
   }

   tbody tr {
      transition: background-color .2s;

      td:not(:last-child) {
         transition: border-color .2s;
      }
      // Row hover effect
      &:hover:not(.divider) {
         background-color: #ccc;
         transition: background-color .3s .2s;

         td:not(:last-child) {
            border-color: #bbb;
            transition: border-color .3s .2s;
         }
      }
   }
}

.colorstripe td {
   height: 4px !important;
}

footer {
   margin-bottom: 1.5em;
}

.message {
   padding: 0 2em;
   font-size: 1.5em;

   div {
      font-size: 2em;
   }
}
