// main: ../main.scss
// min-width: 1800px

footer,
main {
   padding: 0;
}

main {
   margin-top: 8em;
}

header {
   min-height: 215px;
}

#guslogo {
   top: -5em;
}

#dateselector-container {
   margin-bottom: 3em;
   margin-left: -12em;
}

#metadata {
   max-width: 100%;
}
