// main: ../main.scss
// min-width: 0px

body {
   font-size: 14px;
}

footer,
main {
   padding: 0 1em;
}

main {
   margin-top: 1.2em;
   margin-bottom: 1.2em;
}

header {
   margin-bottom: 1em;
}

#guslogo {
   display: none;
}

#dateselector-container {
   padding-bottom: 1.2em;
   border-bottom: 1px solid #ccc;

   #dateselector {
      font-size: 1.8em;
      font-weight: bold;
      padding: 5px 10px;
      background-color: #ccc;
      text-align-last: center;
   }

   #nextdate,
   #previousdate {
      font-size: 2.3em;
      display: inline-block;
      transform: scale(1.5) translateY(-1px);
      line-height: 0;
   }

   #previousdate {
      // Compensate for padding
      margin-left: -1rem;
   }
}

#metadata {
   text-align: justify;
}

#data {
   overflow-x: auto;

   th {
      padding: 7px 8px;
      font-size: .9em;
   }

   td {
      padding: 5px 8px;
   }

   .noentries {
      font-size: 1.2em;
   }
}

.colorstripe td {
   height: 3px !important;
}

footer {
   margin-bottom: 1.2em;
}

.message div {
   font-size: 2em;
}
