// main: ../main.scss
// min-width: 0px

body {
   font-size: 14px;
}

footer,
main {
   padding: 0 1em;
}

main {
   margin-top: 2em;
}

header {
   margin-bottom: 1em;
}

#guslogo {
   display: none;
}

#dateselector-container {
   margin-bottom: 2em;
   // Compensate for #previousdate padding
   margin-left: -1rem;

   #dateselector {
      font-size: 2em;
      font-weight: bold;
      padding: 6px 15px;
      background-color: #ccc;
      text-align-last: center;
   }

   #nextdate,
   #previousdate {
      font-size: 2.9em;
   }
}

#data {
   overflow-x: auto;

   th {
      padding: 10px;
   }

   td {
      padding: 4px 7px;
   }
}

footer {
   margin-bottom: 1.5em;
}

.message div {
   font-size: 2rem;
}
