// main: main.scss
@mixin not-selectable() {
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}
@mixin no-default-appearance() {
   -webkit-appearance: none;
   -moz-appearance: none;
}
