// main: main.scss
$blue: #28397e;
$cyan: #66c5d4;
$cyan-blue: #4479A5;

$font-color: #333;
$body-color: #f1f1f1;

$border-radius: 8px;

$font-main: Liberation-Sans, sans-serif;
$font-heading: Mr-Eaves-Modern, sans-serif;

$navbar-height: 3em;
