// main: main.scss
$blue: #273f86;
$cyan: #5ac7d3;
$cyan-blue: #438bb1;

$font-color: #333;
$body-color: #f1f1f1;

$border-radius: 8px;

$font-main: Liberation-Sans, sans-serif;
$font-heading: Mr-Eaves-Modern, sans-serif;
