// main: main.scss
// Styles that are common to all screen sizes

html {
   box-sizing: border-box;
}

*,
*:after,
*:before {
   box-sizing: inherit;
}

body {
   margin: 0;
   font-family: $font-main;
   line-height: 1.43;
   color: $font-color;
   background-color: $body-color;
}

nav {
   width: 100%;
   color: #fff;
   height: $navbar-height;
   background-color: #555;
   display: flex;
   @include not-selectable();

   > * {
      line-height: $navbar-height;
   }

   .active {
      font-weight: bold;
   }

   a {
      text-decoration: none;
      color: #fff;

      &:hover {
         background-color: #777;
      }
   }

   #logout {
      margin-left: auto;

      #logout-icon {
         height: 16px;
         color: white;
         vertical-align: middle;
         position: relative;
         top: -1px;
         margin-right: 3px;
      }
   }
}

footer,
main {
   max-width: 1250px;
   margin: 0 auto;
}

main {
   // For IE
   display: block;
}

header {
   position: relative;
}

#guslogo {
   position: absolute;
   @include not-selectable();
}

#dateselector-container {
   font-family: $font-heading;
   @include not-selectable();

   #dateselector {
      font-family: inherit;
      color: $font-color;
      border: 0;
      outline: 0;
      // Compensate for inline-block spacing
      margin: 0 -4px;
      border-radius: $border-radius;
      @include no-default-appearance();

      &::-ms-expand {
         display: none;
      }

      option {
         background-color: #ccc;
         font-size: .7em;
         // Needed for Firefox so it does not cut off text due to smaller font size
         padding-bottom: .5em;
      }
   }

   #nextdate,
   #previousdate {
      font-weight: bold;
      // For larger touchable area
      padding: 1rem;
   }
}

#metadata {
   dt {
      font-weight: bold;
   }

   dd {
      margin-bottom: 1em;
      margin-left: 0;
      // Break at \n
      white-space: pre-line;
   }
}

#data {
   table {
      border-collapse: collapse;
      text-align: left;
      width: 100%;
      overflow: hidden;
   }

   td,
   th {
      white-space: nowrap;
   }
   // Colors
   thead tr {
      background-color: #ccc;

      th:not(:last-child) {
         border-right: 2px solid #ccc;
      }
   }

   tbody tr {
      &:nth-child(odd) {
         background-color: #e0e0e0;
      }

      &:first-child {
         box-shadow: 0 3px 7px -1px #ddd;
      }

      td:not(:last-child) {
         border-right: 2px solid #ccc;
      }
   }
   // Round borders
   thead {
      th:first-child {
         border-top-left-radius: $border-radius;
      }

      th:last-child {
         border-top-right-radius: $border-radius;
      }
   }

   tbody tr:last-child {
      td:first-child {
         border-bottom-left-radius: $border-radius;
      }

      td:last-child {
         border-bottom-right-radius: $border-radius;
      }
   }

   .noentries {
      font-style: italic;
      margin: .5em 0;
   }
}

.colorstripe td {
   padding: 0 !important;
   // Fallback color for browsers not supporting gradients
   background-color: $cyan-blue;
   background-image: linear-gradient(to right, $cyan, $blue);
}

footer {
   // Needed to accomomdate #copyright when wrapped since it is floated
   overflow: auto;

   #copyright {
      float: right;
   }

   a {
      text-decoration: none;
      color: $font-color;
   }
}

a {
   cursor: pointer;
}

.message {
   line-height: normal;

   div {
      margin-bottom: 1rem;
   }
}

.running-text {
   margin-bottom: 2em;

   h1,
   h2,
   h3 {
      font-family: $font-heading;
      line-height: 1.2;
   }

   h1 {
      font-size: 3em;
      margin-bottom: .5rem;
   }

   h2 {
      font-size: 2em;
      margin: 2rem 0 .3rem;
   }

   h3 {
      font-size: 1.5em;
      margin-bottom: .1rem;
   }

   h1 + p,
   h2 + p,
   h3 + p {
      margin-top: 0;
   }

   a {
      color: $font-color;
      text-decoration: none;
      font-weight: bold;
      overflow-wrap: break-word;
   }
}

#loginpage-header {
   min-height: 0;
}

#loginform {

   #login-error {
      color: red;
   }

   label {
      display: inline-block;
      @include not-selectable();
   }

   #username-label, #password-label {
      width: 90px;
   }

   #rememberme-label {
      margin-left: 3px;
   }

   input {
      font-size: 1rem;
      border: 1px solid #cacaca;
      background-color: white;
      transition: border .2s;

      &:hover {
         border: 1px solid #aaa;
      }

      &:focus {
         outline: none;
      }
   }

   input[type=text], input[type=password] {
      margin-bottom: 1em;
      display: inline-block;
      padding: 0.5em;

      &:focus {
         border: 1px solid #aaa;
      }
   }

   input[type=checkbox] {
      width: 1.2em;
      height: 1.2em;
      background-color: white;
      @include no-default-appearance();

      &:checked {
         background: white url("/icons/checkmark.svg");
         background-size: contain;
      }
   }

   button {
      display: inline-block;
      padding: .8em 2em;
      border: none;
      font-size: .9rem;
      color: white;
      background-color: $cyan-blue;
      outline: none;
      transition: background-color .2s;

      &:hover, &:active {
         background-color: darken($cyan-blue, 5);
      }
   }

   .form-row {
      display: flex;
      align-items: center;
   }

   .margin-left {
      @media(min-width: 331px) {
         margin-left: 90px;
      }
   }
}
