// main: main.scss
// Styles that are common to all screen sizes

html {
   box-sizing: border-box;
}

*,
*:after,
*:before {
   box-sizing: inherit;
}

body {
   margin: 0;
   font-family: $font-liberationsans;
   line-height: 1.5em;
   color: $font-color;
   background-color: $body-color;
}

footer,
main {
   max-width: 1300px;
}

main {
   // For IE
   display: block;
   margin-bottom: 1.5em;
}

header {
   position: relative;
}

#guslogo {
   position: absolute;
   @include not-selectable();
}

#dateselector-container {
   font-family: $font-mreaves;
   @include not-selectable();

   #dateselector {
      font-family: inherit;
      border: 0;
      outline: 0;
      // Compensate for inline-block spacing
      margin: 0 -4px;
      border-radius: $border-radius;
      @include no-default-appearance();

      &::-ms-expand {
         display: none;
      }

      option {
         background-color: #ccc;

         &[selected=selected] {
            // Hide currently selected date
            display: none;
         }
      }
   }

   #nextdate,
   #previousdate {
      font-weight: bold;
      cursor: pointer;
      // For larger touchable area
      padding: 1rem;
   }
}

#metadata {
   text-align: justify;

   dt {
      font-weight: bold;
   }

   dd {
      margin-bottom: 1em;
      margin-left: 0;
      // Break at \n
      white-space: pre-line;
   }
}

#data {
   table {
      border-collapse: collapse;
      text-align: left;
      width: 100%;
   }
   // Colors
   thead tr {
      background-color: #ccc;
   }

   tbody tr {
      &:nth-child(odd) {
         background-color: #e0e0e0;
      }

      &:first-child {
         box-shadow: 0 3px 7px -1px #ddd;
      }

      td:not(:last-child) {
         border-right: 2px solid #ccc;
      }
   }
   // Round borders
   th {
      &:first-child {
         border-top-left-radius: $border-radius;
      }

      &:last-child {
         border-top-right-radius: $border-radius;
      }
   }

   tbody tr:last-child {
      td:first-child {
         border-bottom-left-radius: $border-radius;
      }

      td:last-child {
         border-bottom-right-radius: $border-radius;
      }
   }
}

.colorstripe td {
   padding: 0 !important;
   height: 5px !important;
   // Fallback color for browsers not supporting gradients
   background-color: #438bb1;
   background-image: linear-gradient(to right, $cyan, $blue);
}

footer {
   // Needed to accomomdate #copyright when wrapped since it is floated
   overflow: auto;

   #copyright {
      float: right;
   }

   a {
      text-decoration: none;
      color: $font-color;
   }
}

.message {
   line-height: normal;

   div {
      margin-bottom: 1rem;
   }
}

.running-text {
   margin-bottom: 2em;

   h2 {
      margin-top: 2em;
   }

   h3 {
      margin-bottom: 3px;
   }

   h3 + p {
      margin-top: 0;
   }

   p {
      text-align: justify;
   }

   a {
      color: $font-color;
      text-decoration: none;
      font-weight: bold;
   }
}
