html {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: Liberation-Sans, sans-serif;
  line-height: 1.43;
  color: #333;
  background-color: #f1f1f1;
}

nav {
  width: 100%;
  color: #fff;
  height: 3em;
  background-color: #555;
  display: flex;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

nav > * {
  line-height: 3em;
}

nav .active {
  font-weight: bold;
}

nav a {
  text-decoration: none;
  color: #fff;
}

nav a:hover {
  background-color: #777;
}

nav #logout {
  margin-left: auto;
}

nav #logout #logout-icon {
  height: 16px;
  color: white;
  vertical-align: middle;
  position: relative;
  top: -1px;
  margin-right: 3px;
}

footer,
main {
  max-width: 1250px;
  margin: 0 auto;
}

main {
  display: block;
}

header {
  position: relative;
}

#guslogo {
  position: absolute;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#dateselector-container {
  font-family: Mr-Eaves-Modern, sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#dateselector-container #dateselector {
  font-family: inherit;
  color: #333;
  border: 0;
  outline: 0;
  margin: 0 -4px;
  border-radius: 8px;
  -webkit-appearance: none;
  -moz-appearance: none;
}

#dateselector-container #dateselector::-ms-expand {
  display: none;
}

#dateselector-container #dateselector option {
  background-color: #ccc;
  font-size: .7em;
  padding-bottom: .5em;
}

#dateselector-container #nextdate,
#dateselector-container #previousdate {
  font-weight: bold;
  padding: 1rem;
}

#metadata dt {
  font-weight: bold;
}

#metadata dd {
  margin-bottom: 1em;
  margin-left: 0;
  white-space: pre-line;
}

#data table {
  border-collapse: collapse;
  text-align: left;
  width: 100%;
  overflow: hidden;
}

#data td,
#data th {
  white-space: nowrap;
}

#data thead tr {
  background-color: #ccc;
}

#data thead tr th:not(:last-child) {
  border-right: 2px solid #ccc;
}

#data tbody tr:nth-child(odd) {
  background-color: #e0e0e0;
}

#data tbody tr:first-child {
  box-shadow: 0 3px 7px -1px #ddd;
}

#data tbody tr td:not(:last-child) {
  border-right: 2px solid #ccc;
}

#data thead th:first-child {
  border-top-left-radius: 8px;
}

#data thead th:last-child {
  border-top-right-radius: 8px;
}

#data tbody tr:last-child td:first-child {
  border-bottom-left-radius: 8px;
}

#data tbody tr:last-child td:last-child {
  border-bottom-right-radius: 8px;
}

#data .noentries {
  font-style: italic;
  margin: .5em 0;
}

.colorstripe td {
  padding: 0 !important;
  background-color: #438bb1;
  background-image: linear-gradient(to right, #5ac7d3, #273f86);
}

footer {
  overflow: auto;
}

footer #copyright {
  float: right;
}

footer a {
  text-decoration: none;
  color: #333;
}

a {
  cursor: pointer;
}

.message {
  line-height: normal;
}

.message div {
  margin-bottom: 1rem;
}

.running-text {
  margin-bottom: 2em;
}

.running-text h1,
.running-text h2,
.running-text h3 {
  font-family: Mr-Eaves-Modern, sans-serif;
  line-height: 1.2;
}

.running-text h1 {
  font-size: 3em;
  margin-bottom: .5rem;
}

.running-text h2 {
  font-size: 2em;
  margin: 2rem 0 .3rem;
}

.running-text h3 {
  font-size: 1.5em;
  margin-bottom: .1rem;
}

.running-text h1 + p,
.running-text h2 + p,
.running-text h3 + p {
  margin-top: 0;
}

.running-text a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
  overflow-wrap: break-word;
}

#loginpage-header {
  min-height: 0;
}

#loginform #login-error {
  color: red;
}

#loginform label {
  display: inline-block;
}

#loginform #username-label, #loginform #password-label {
  width: 90px;
}

#loginform #rememberme-label {
  margin-left: 3px;
}

#loginform input {
  font-size: 1rem;
  border: 1px solid #cacaca;
  background-color: white;
  transition: border .2s;
}

#loginform input:hover {
  border: 1px solid #aaa;
}

#loginform input:focus {
  outline: none;
}

#loginform input[type=text], #loginform input[type=password] {
  margin-bottom: 1em;
  display: inline-block;
  padding: 0.5em;
}

#loginform input[type=text]:focus, #loginform input[type=password]:focus {
  border: 1px solid #aaa;
}

#loginform input[type=checkbox] {
  width: 1.2em;
  height: 1.2em;
  -webkit-appearance: none;
  -moz-appearance: none;
}

#loginform input[type=checkbox]:checked {
  background-color: #438bb1;
}

#loginform button {
  display: inline-block;
  padding: .8em 2em;
  border: none;
  font-size: .9rem;
  color: white;
  background-color: #438bb1;
  outline: none;
  transition: background-color .2s;
}

#loginform button:hover, #loginform button:active {
  background-color: #3c7c9f;
}

#loginform .form-row {
  display: flex;
  align-items: center;
}

@media (min-width: 331px) {
  #loginform .margin-left {
    margin-left: 90px;
  }
}

body {
  font-size: 14px;
}

footer,
main {
  padding: 0 1em;
}

nav > * {
  padding: 0 1em;
}

main {
  margin-top: 1.2em;
  margin-bottom: 1.2em;
}

header {
  margin-bottom: 1em;
}

#guslogo {
  display: none;
}

#dateselector-container {
  padding-bottom: 1.2em;
  border-bottom: 1px solid #ccc;
}

#dateselector-container #dateselector {
  font-size: 1.8em;
  font-weight: bold;
  padding: 5px 10px;
  background-color: #ccc;
  text-align-last: center;
}

#dateselector-container #nextdate,
#dateselector-container #previousdate {
  font-size: 2.3em;
  display: inline-block;
  transform: scale(1.5) translateY(-1px);
  line-height: 0;
}

#dateselector-container #previousdate {
  margin-left: -1rem;
}

#data {
  overflow-x: auto;
}

#data th {
  padding: 7px 8px;
  font-size: .9em;
}

#data td {
  padding: 5px 8px;
}

#data .noentries {
  font-size: 1.2em;
}

.colorstripe td {
  height: 3px !important;
}

footer {
  margin-bottom: 1.2em;
}

.message div {
  font-size: 2em;
}

#loginpage-header {
  display: none;
}

@media (min-width: 500px) {
  nav > * {
    padding: 0 2em;
  }
  #data th {
    padding: 8px;
    font-size: 1em;
  }
}

@media (min-width: 800px) {
  body {
    font-size: 15px;
  }
  footer,
  main {
    padding: 0 2em;
  }
  main {
    margin-top: 2em;
    margin-bottom: 1.5em;
  }
  header {
    margin-bottom: 1.5em;
    min-height: 216px;
  }
  #dateselector-container {
    margin-bottom: 2em;
    padding-bottom: 0;
    border-bottom: 0;
  }
  #dateselector-container #dateselector {
    font-size: 4em;
    font-weight: normal;
    background: transparent;
    padding: 0;
  }
  #dateselector-container #nextdate,
  #dateselector-container #previousdate {
    font-size: 5.8em;
    display: inline;
  }
  #guslogo {
    display: block;
    width: 220px;
    top: 0;
    right: 2em;
  }
  #metadata {
    max-width: calc(100% - (250px + 2em));
  }
  #data th {
    padding: 8px .8rem;
  }
  #data td {
    padding: 6px .8rem;
  }
  #data tbody tr {
    transition: background-color .2s;
  }
  #data tbody tr td:not(:last-child) {
    transition: border-color .2s;
  }
  #data tbody tr:hover:not(.divider) {
    background-color: #ccc;
    transition: background-color .3s .2s;
  }
  #data tbody tr:hover:not(.divider) td:not(:last-child) {
    border-color: #bbb;
    transition: border-color .3s .2s;
  }
  #data .noentries {
    font-size: 1.5em;
  }
  .colorstripe td {
    height: 4px !important;
  }
  footer {
    margin-bottom: 1.5em;
  }
  .message {
    padding: 0 2em;
    font-size: 1.5em;
  }
  .message div {
    font-size: 2em;
  }
}

@media (min-width: 1250px) {
  body {
    font-size: 16px;
  }
  main {
    margin-top: 6em;
    margin-bottom: 1.5em;
  }
  header {
    min-height: 186px;
  }
  #dateselector-container #dateselector {
    font-size: 5em;
  }
  #dateselector-container #nextdate,
  #dateselector-container #previousdate {
    font-size: 7.4em;
  }
  #guslogo {
    width: 240px;
    top: -3em;
    right: 0;
  }
  #metadata {
    max-width: 830px;
  }
  #data th {
    padding: 8px .9rem;
  }
  #data td {
    padding: 6px .9rem;
  }
  footer {
    margin-bottom: 4em;
  }
  .message {
    padding: 0;
  }
  #loginpage-header {
    display: block;
  }
}

@media (min-width: 1800px) {
  footer,
  main {
    padding: 0;
  }
  main {
    margin-top: 8em;
  }
  header {
    min-height: 0;
  }
  #guslogo {
    top: -5em;
  }
  #dateselector-container {
    margin-bottom: 3em;
    margin-left: -12em;
  }
  #metadata {
    max-width: 100%;
  }
}
