html {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Liberation-Sans", sans-serif;
  line-height: 1.5em;
  color: #333;
  background-color: #f1f1f1;
}

footer,
main {
  max-width: 1300px;
}

main {
  display: block;
  margin-bottom: 1.5em;
}

header {
  position: relative;
}

#guslogo {
  position: absolute;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#dateselector-container {
  font-family: mr-eaves-sans, sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#dateselector-container #dateselector {
  font-family: inherit;
  border: 0;
  outline: 0;
  margin: 0 -4px;
  border-radius: 8px;
  -webkit-appearance: none;
  -moz-appearance: none;
}

#dateselector-container #dateselector::-ms-expand {
  display: none;
}

#dateselector-container #dateselector option {
  background-color: #ccc;
}

#dateselector-container #dateselector option[selected=selected] {
  display: none;
}

#dateselector-container #nextdate,
#dateselector-container #previousdate {
  font-weight: bold;
  cursor: pointer;
  padding: 1rem;
}

#metadata {
  text-align: justify;
}

#metadata dt {
  font-weight: bold;
}

#metadata dd {
  margin-bottom: 1em;
  margin-left: 0;
  white-space: pre-line;
}

#data table {
  border-collapse: collapse;
  text-align: left;
  width: 100%;
}

#data thead tr {
  background-color: #ccc;
}

#data tbody tr:nth-child(odd) {
  background-color: #e0e0e0;
}

#data tbody tr:first-child {
  box-shadow: 0 3px 7px -1px #ddd;
}

#data tbody tr td:not(:last-child) {
  border-right: 2px solid #ccc;
}

#data th:first-child {
  border-top-left-radius: 8px;
}

#data th:last-child {
  border-top-right-radius: 8px;
}

#data tbody tr:last-child td:first-child {
  border-bottom-left-radius: 8px;
}

#data tbody tr:last-child td:last-child {
  border-bottom-right-radius: 8px;
}

.colorstripe td {
  padding: 0 !important;
  height: 5px !important;
  background-color: #438bb1;
  background-image: linear-gradient(to right, #5ac7d3, #273f86);
}

footer {
  overflow: auto;
}

footer #copyright {
  float: right;
}

footer a {
  text-decoration: none;
  color: #333;
}

.message {
  line-height: normal;
}

.message div {
  margin-bottom: 1rem;
}

.running-text {
  margin-bottom: 2em;
}

.running-text h2 {
  margin-top: 2em;
}

.running-text h3 {
  margin-bottom: 3px;
}

.running-text h3 + p {
  margin-top: 0;
}

.running-text p {
  text-align: justify;
}

.running-text a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
}

body {
  font-size: 14px;
}

footer,
main {
  padding: 0 1em;
}

main {
  margin-top: 2em;
}

header {
  margin-bottom: 1em;
}

#guslogo {
  display: none;
}

#dateselector-container {
  margin-bottom: 2em;
  margin-left: -1rem;
}

#dateselector-container #dateselector {
  font-size: 2em;
  font-weight: bold;
  padding: 6px 15px;
  background-color: #ccc;
  text-align-last: center;
}

#dateselector-container #nextdate,
#dateselector-container #previousdate {
  font-size: 2.9em;
}

#data {
  overflow-x: auto;
}

#data th {
  padding: 10px;
}

#data td {
  padding: 4px 7px;
}

footer {
  margin-bottom: 1.5em;
}

.message div {
  font-size: 2rem;
}

@media (min-width: 500px) {
  #data td {
    padding: 7px 10px;
  }
}

@media (min-width: 1000px) {
  body {
    font-size: 16px;
  }
  header {
    margin-bottom: 2em;
    min-height: 245px;
  }
  #dateselector-container #dateselector {
    font-size: 3em;
    font-weight: normal;
    background: transparent;
    padding: 0;
    text-align-last: left;
  }
  #dateselector-container #nextdate,
  #dateselector-container #previousdate {
    font-size: 4.4em;
    padding: 1rem;
  }
  #guslogo {
    display: block;
    width: 250px;
    top: 0;
    right: 2em;
  }
  #metadata {
    max-width: calc(100% - (250px + 2em + 3em));
  }
  #data td,
  #data th {
    padding: 10px 1rem;
  }
  #data th {
    padding-top: 18px;
    padding-bottom: 18px;
    font-size: 1.2em;
  }
  #data tbody tr {
    transition: background-color .2s;
  }
  #data tbody tr td:not(:last-child) {
    transition: border-color .2s;
  }
  #data tbody tr:hover:not(.divider) {
    background-color: #ccc;
    transition: background-color .3s .2s;
  }
  #data tbody tr:hover:not(.divider) td:not(:last-child) {
    border-color: #bbb;
    transition: border-color .3s .2s;
  }
  .message {
    padding: 0 2em;
    font-size: 1.5em;
  }
  .message div {
    font-size: 4rem;
  }
}

@media (min-width: 1300px) {
  footer,
  main {
    margin: 0 auto;
  }
  main {
    margin-top: 6em;
    margin-bottom: 1.5em;
  }
  #guslogo {
    width: 300px;
    top: -3em;
    right: 0;
  }
  #dateselector-container #dateselector {
    font-size: 6em;
  }
  #dateselector-container #nextdate,
  #dateselector-container #previousdate {
    font-size: 8.7em;
  }
  #metadata {
    max-width: 980px;
  }
  #data td,
  #data th {
    padding: 10px 1.5rem;
  }
  #data th {
    padding-top: 18px;
    padding-bottom: 18px;
  }
  footer {
    margin-bottom: 4em;
  }
  .message {
    padding: 0;
  }
}

@media (min-width: 1900px) {
  footer,
  main {
    padding: 0;
  }
  main {
    margin-top: 8em;
  }
  header {
    min-height: 215px;
  }
  #guslogo {
    top: -5em;
  }
  #dateselector-container {
    margin-bottom: 3em;
    margin-left: -200px;
  }
  #metadata {
    max-width: 100%;
  }
}
