* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Liberation-Sans", Arial, sans-serif;
  line-height: 1.5em;
  color: #333;
  background-color: #f1f1f1;
}

footer,
main {
  max-width: 1300px;
}

main {
  display: block;
  margin-bottom: 1.5em;
}

header {
  margin-bottom: 2em;
  position: relative;
}

#guslogo {
  position: absolute;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#dateselector-container {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#dateselector-container #dateselector {
  font-family: mr-eaves-sans, sans-serif;
  font-style: normal;
  font-weight: 200;
  display: inline-block;
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 8px;
}

#dateselector-container #dateselector::-ms-expand {
  display: none;
}

#dateselector-container #dateselector option[selected=selected] {
  display: none;
}

#dateselector-container #dateselector option:active, #dateselector-container #dateselector option:focus, #dateselector-container #dateselector option:hover {
  outline: none;
  background-color: #ddd;
  border-radius: 8px;
}

#dateselector-container #nextdate,
#dateselector-container #previousdate {
  font-family: mr-eaves-sans, sans-serif;
  font-weight: bold;
  cursor: pointer;
}

#metadata dt {
  font-weight: bold;
}

#metadata dd {
  margin-bottom: 1em;
  white-space: pre-line;
}

#data table {
  border-collapse: collapse;
  text-align: left;
  width: 100%;
}

#data thead tr {
  background-color: #ccc;
}

#data tbody tr:nth-child(odd) {
  background-color: #e0e0e0;
}

#data tbody tr:first-child {
  box-shadow: 0 3px 7px -1px #ddd;
}

#data tbody tr td:not(:last-child) {
  border-right: 2px solid #ccc;
}

#data th:first-child {
  border-top-left-radius: 8px;
}

#data th:last-child {
  border-top-right-radius: 8px;
}

#data tbody tr:last-child td:first-child {
  border-bottom-left-radius: 8px;
}

#data tbody tr:last-child td:last-child {
  border-bottom-right-radius: 8px;
}

.colorstripe td {
  padding: 0 !important;
  height: 5px !important;
  background: linear-gradient(to right, #5ac7d3, #273f86);
}

footer #copyright {
  float: right;
}

footer a {
  text-decoration: none;
  color: #333;
}

#nodata {
  line-height: normal;
}

#nodata div {
  margin-bottom: 1rem;
}

body {
  font-size: 14px;
}

main,
footer {
  padding: 0 1em;
}

main {
  margin-top: 2em;
}

#guslogo {
  display: none;
}

#dateselector-container {
  margin-bottom: 2em;
  margin-left: -1rem;
}

#dateselector-container #dateselector {
  font-size: 7vw;
  background-color: #ccc;
  padding: 3px 15px 10px;
}

#dateselector-container #dateselector option {
  background-color: #ccc;
}

#dateselector-container #previousdate,
#dateselector-container #nextdate {
  font-size: 12vw;
  padding: 0 1rem;
}

#data {
  overflow-x: scroll;
}

#data th {
  padding: 10px;
}

#data td {
  padding: 5px 10px;
}

footer {
  margin-bottom: 1.5em;
}

#nodata div {
  font-size: 2rem;
}

@media (min-width: 500px) {
  #dateselector-container #dateselector {
    font-size: 2em;
  }
  #dateselector-container #nextdate,
  #dateselector-container #previousdate {
    font-size: 3em;
  }
  #data {
    overflow-x: visible;
  }
  #data td {
    padding: 7px 10px;
  }
}

@media (min-width: 1000px) {
  body {
    font-size: 16px;
  }
  header {
    min-height: 250px;
  }
  #dateselector-container #dateselector {
    font-size: 3em;
    background: transparent;
    padding: 0;
  }
  #dateselector-container #nextdate,
  #dateselector-container #previousdate {
    font-size: 4em;
  }
  #guslogo {
    display: block;
    width: 250px;
    top: 0;
    right: 2em;
  }
  #data td,
  #data th {
    padding: 10px 1rem;
  }
  #data th {
    padding-top: 18px;
    padding-bottom: 18px;
    font-size: 1.2em;
  }
  #data tbody tr {
    transition: background-color .2s;
  }
  #data tbody tr td:not(:last-child) {
    transition: border-color .2s;
  }
  #data tbody tr:hover:not(.divider) {
    background-color: #ccc;
    transition: background-color .3s .2s;
  }
  #data tbody tr:hover:not(.divider) td:not(:last-child) {
    border-color: #bbb;
    transition: border-color .3s .2s;
  }
  #nodata {
    padding: 0 2em;
    font-size: 1.5em;
  }
  #nodata div {
    font-size: 4rem;
  }
}

@media (min-width: 1300px) {
  main,
  footer {
    margin: 0 auto;
  }
  main {
    margin-top: 6em;
    margin-bottom: 1.5em;
  }
  #guslogo {
    width: 300px;
    top: -2em;
    right: 0;
  }
  #dateselector-container #dateselector {
    font-size: 6em;
  }
  #dateselector-container #previousdate,
  #dateselector-container #nextdate {
    font-size: 9em;
  }
  #metadata {
    max-width: 900px;
  }
  #data td, #data th {
    padding: 10px 1.5rem;
  }
  #data th {
    padding-top: 18px;
    padding-bottom: 18px;
  }
  footer {
    margin-bottom: 4em;
  }
}

@media (min-width: 1900px) {
  main,
  footer {
    padding: 0;
  }
  main {
    margin-top: 8em;
  }
  #dateselector-container {
    margin-bottom: 4em;
    margin-left: -200px;
  }
  #dateselector-container #dateselector {
    font-size: 8em;
  }
  #dateselector-container #previousdate,
  #dateselector-container #nextdate {
    font-size: 12em;
  }
}
