container_commands:
  1_ConfigureIISAppPool:
    command: powershell.exe -Command "Scripts\\ConfigureIISAppPool.ps1"
    ignoreErrors: true
    waitAfterCompletion: 0
  2_LoadApiCertFromS3:
    command: powershell.exe -Command "Scripts\\LoadApiCertFromS3.ps1"
    ignoreErrors: true
    waitAfterCompletion: 0
  3_InstallSSLCert:
    command: powershell.exe -Command "Scripts\\InstallSSLCert.ps1"
    ignoreErrors: true
    waitAfterCompletion: 0
  