<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="VertretungsplanUploader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="awsCredentials" type="System.Configuration.NameValueSectionHandler"/>
    <section name="s3Upload" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>
  
  <!-- Declare AccessKey and SecretKey in AWSCredentials.Config -->
  <awsCredentials configSource="AWSCredentials.config"></awsCredentials>
  <!-- Declare Bucket and Key in S3Upload.Config -->
  <s3Upload configSource="S3Upload.config"></s3Upload>
  
  <userSettings>
    <VertretungsplanUploader.Properties.Settings>
      <setting name="Database" serializeAs="String">
        <value />
      </setting>
    </VertretungsplanUploader.Properties.Settings>
  </userSettings>
</configuration>